---
layout: default
home: true
txtlogo: true
imglogo: true

---

{% include partials/head.html %}
	<div id="blue-front" class="anm-fadeIn delay-100">
		<div>
			<div class="thumb-3 pushed-3 anm-moveFromLeftFade delay-700">
				<span id="carro" class="icon icon-car2"></span>
			</div>
			<div class="thumb-6">
				<h4>Renovación / Obtención<br>del carnet de conducir</h4>
				<h6 class="anm-moveFromRightFade delay-600"><span class="icon icon-bell"></span> {{ site.info1 }}</h6>
				<h6 class="anm-moveFromRightFade delay-700"><span class="icon icon-alarm"></span> {{ site.info2 }}</h6>
				<h6 class="anm-moveFromRightFade delay-800"><span class="icon icon-camera"></span> {{ site.info3 }}</h6>
				<h6 class="anm-moveFromRightFade delay-900"><span class="icon icon-credit"></span> {{ site.info4 }}</h6>
			</div>
			<hr>
		</div>
	</div>
	<div id="mapa">
  		<div class="map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d373.8077012367938!2d2.207479914111241!3d41.45090246565391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4bc8ded3dfcc3%3A0x94ee23eecc26f9ed!2sPasseig+de+Lloren%C3%A7+Serra%2C+5%2C+08922+Santa+Coloma+de+Gramenet%2C+Barcelona!5e0!3m2!1ses!2ses!4v1552908823611" width="100%" height="260" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		<section class="cited">
			<h4>{{ site.location }} <div><img src="{{ site.baseurl }}/hipertextos/brand/iconmetro.png" alt="Metro"></div> Santa Coloma <div class="red">L1</div></h4>
		<a class="button-modal" href="#dialog"><span class="icon icon-search"></span> Ampliar</a>
		</section>
	</div>
<main id="page-main" role="main">
	<div id="layout">
		<hr>
		<div class="obtenciones">
			<h2><small>Obtención</small><br>{{ site.obtenciones }} <b>€</b></h2>
		</div>
		<hr>
		<div id="horari">
  			{% include horari.html %} 
		</div>
		<hr>
		<div id="domicili">
  			{% include domicili.html %}
  		<hr>
		</div>
		<hr>
	</div>
</main>