{% if site.p1 %}
<div class="thumb-4">
<i class="icon-car"></i>
<h5>{{ site.p1 }}</h5>
<br>
</div>
{% endif %}
{% if site.p2 %}
<div class="thumb-4">
<i class="icon-scooter"></i>
<h5>{{ site.p2 }}</h5>
<br>
</div>
{% endif %}
{% if site.p3 %}
<div class="thumb-4">
<i class="icon-van"></i>
<h5>{{ site.p3 }}</h5>
<br>
</div>
{% endif %}
{% if site.p4 %}
<div class="thumb-4">
<i class="icon-png"><img src="{{ site.baseurl }}/hipertextos/svg/barco.png"></i>
<h5>{{ site.p4 }}</h5>
<br>
</div>
{% endif %}
{% if site.p5 %}
<div class="thumb-4">
<i class="icon-bike"></i>
<h5>{{ site.p5 }}</h5>
<br>
</div>
{% endif %}
{% if site.p6 %}
<div class="thumb-4">
<i class="icon-link"></i>
<h5>{{ site.p6 }}</h5>
<br>
</div>
{% endif %}
{% if site.p7 %}
<div class="thumb-4">
<i class="icon-png"><img src="{{ site.baseurl }}/hipertextos/svg/perros.png"></i>
<h5>{{ site.p7 }}</h5>
<br>
</div>
{% endif %}
{% if site.p8 %}
<div class="thumb-4">
<i class="icon-png"><img src="{{ site.baseurl }}/hipertextos/svg/armas.png"></i>
<h5>{{ site.p8 }}</h5>
<br>
</div>
{% endif %}
{% if site.p9 %}
<div class="thumb-4">
<i class="icon-handwriting"></i>
<h5>{{ site.p9 }}</h5>
<br>
</div>
{% endif %}

