/* by Isard Miralles  ADDING CSS */
/* ------------------------------------------------------------ Resets */

footer, #follows, #follows-big, #icons, #covers, .nav-scroll, #web-credits, #page-header, #mapa, #post-share, #layout {
text-align: center;}
main {font-family:var(--font-default), sans-serif;padding-top:36px;margin-bottom: 0;}
body {text-align: justify;-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;-o-hyphens:none;hyphens:none;word-wrap:none;}

/* Nav */
#site-nav {font-family:var(--font-default) ;opacity:0.95;background-image: linear-gradient( #fff, rgba(230,242,255,1)) !important;border-bottom: none;font-size: 15px;
    line-height:25px;color: var(--color-blue);padding-top:12px;padding-bottom:12px;}
#site-nav a, #site-nav strong label {color:var(--color-hardgrey)!important;font-weight: normal ;border: none;}
#site-nav strong label {line-height:25px;font-size: 15px;letter-spacing: 0.075em}
#site-nav strong label:hover {border:none;}
#site-nav a:visited { color: var(--color-grey);text-decoration: none;}
#site-nav a:hover, #site-nav a b:hover { color: var(--color-blue);text-decoration: none;}
#site-nav a b img {width:102px;font-size:18px;padding-top:1px;border:none!important;}
#site-nav a b svg:hover, #site-nav a b svg:active, #site-nav a b svg:focus {border:transparent!important;}
#site-nav label {color:var(--color-grey);border:thin solid transparent;}
#site-nav label:hover {color:var(--color-soft-grey);border:thin solid #353535;}
#site-nav em a {color:var(--color-grey)!important ;position:absolute;top:0;right:12px;background:transparent!important;width:40px;padding-right:0;}
#site-nav em a:visited {color:var(--color-grey)!important ;}
#site-nav em a:hover {color:#fafafa!important;fill:#fafafa!important;stroke:#fafafa!important;}
#site-logo a, #site-logo a:hover, #site-logo a:visited {color:var(--color-white)!important;}
#site-nav .site-logo {z-index:1;overflow:hidden;width:55px;
    padding-left:0px;padding-top:0;height:100%;margin-top:0px;}
#site-nav img {max-height:100%;min-width:100%;width:55px;height:29px;margin-top:13px;}

/* Header cover*/
#page-header {color:var(--color-blue);letter-spacing: 0.0012em;}
#page-header h1 {font-weight: normal ;font-size:2.5em; color:var(--color-blue);letter-spacing: -0.032em }
#page-header h2 img {width:512px;height:100%;float:none;margin:-25px 0 0 0;}
#page-header h2 {text-align:center;}
#page-header h5 {font-weight: normal ;font-size:1.4em;line-height:1.4em;letter-spacing: -0.026em }
#cover-logo {max-width:512px;height:123px;margin-bottom:0px;}
#page-header div em a {color:var(--color-blue);font-size:17px;
    letter-spacing:0.012em ;padding:12px 14px;border-radius:4px;
	background-image: url("/hipertextos/brand/cover-blur.jpg");image-rendering: crisp-edges;
	background-position: top center;background-attachment: fixed;
    background-size: cover;background-repeat: no-repeat;
}
#page-header div em a i svg {width:15px;padding:3px 0 0 0;}
#page-header div em a:hover, #page-header div em a:visited:hover  {text-decoration:none;color:var(--color-white) ;background:var(--color-blue);}
#page-header div em a:visited, #page-header div em a i svg:visited {
    color:var(--color-blue) ;fill:var(--color-blue);stroke:var(--color-blue);}


/* Post-Header*/
#blue-front {padding:36px 0px 1px 0px;min-height:100%;
    color:var(--color-white) ;background-color:var(--color-blue);}
#blue-front h6 {line-height: 1.1em;font-size:1.1em;font-weight: lighter;letter-spacing: 0.05em}
#blue-front h6 svg {max-width: 25px;margin-top:-20px;border:none!important;}
#blue-front svg {max-width:70%;border-radius:32px;}
#blue-front hr  {margin:3px;padding:0px;}
/* Body & co */
hr.lines {border-bottom:thin solid var(--color-grey);}
.detalls a {padding-left:32px;padding-right:32px;background-color:var(--color-blue);}
#layout i svg {width: 18px;position:absolute ;left:49.3%;padding-bottom:32px;}
#horari i svg, #domicili i svg {width:132px;position:relative;left:0;color:var(--color-white);}
#horari, #domicili {color:var(--color-blue);}
#horari h3 {margin-bottom:2px;text-align:left;line-height:1.75em;}
#horari h3 small {font-size:.75em;letter-spacing: -0.012em;}
#domicili {border:2px solid var(--color-blue);border-radius:16px;}
#domicili h5 {font-weight: normal;font-size:1.1em;line-height:1em;
    margin-bottom:0px;margin-top:-32px;}
#domicili i svg {padding:21%;margin-bottom:-32px;}

#layout em a {background-color:var(--color-soft-black);color:var(--color-soft);border-radius:6px;padding-left:32px;padding-right:32px;}
#layout em a:hover, #layout em a:active, #layout em a:focus {background-color:var(--color-white);color:var(--color-black);}
.cover-front {
	background-position: bottom center;
	background-attachment: fixed;display:block;
	background-size:1920px;width:1920px;height:420px;	background-repeat: no-repeat;
	border:none;color: #000;letter-spacing: .2em;
	padding-top: 32px;text-align:right;
}
.cover-front h2, .cover-front h3 {margin:0px;}

.obtenciones {color:var(--color-blue) ;border:2px solid var(--color-blue);border-radius:21px;margin-bottom:69px;}
.obtenciones h2 small {font-size:30px;letter-spacing: -0.02em;}
.obtenciones h2 {line-height:1.3em;font-size:69px;font-weight: normal;}
.obtenciones h2 b {font-weight: lighter;}

/* Buttons hexagons */
#icons em a {background-color:transparent ;background-image: url(/hipertextos/brand/hexagon.png);background-repeat:no-repeat  ;background-size:100px;width:100px;height:100px;border:none!important;
padding-left:35px;padding-right:35px;}
#icons em a:hover, #icons em a:focus, #icons em a:active {color:var(--color-white);}
#postalcode button {background-color:transparent ;background-image: url(/hipertextos/brand/hexagon.png);background-repeat:no-repeat  ;background-size:100px;width:100px;height:100px;border:none!important;
padding-top:3px;color:var(--color-white);font-weight: normal;font-size:20px;}
#horari i svg, #domicili i svg {background-color:transparent ;background-size:200px;width:200px;height:200px;
padding-left:26px;padding-right:26px;padding-top:26px;color:var(--color-blue);border:none;}

#foot-cover.cover {width:100%;	height: 400px;padding-top:50px;color:var(--color-white);}
#foot-cover.cover svg {float:none;text-align: center;width:30px;}

.cited h4 {color:var(--color-grey);font-size: 21px;line-height: 1.6em;}
.cited h4 div img {float:none;	height: 42px;);margin: -.25em .5em -.6em -.4em;width: 42px;}
.cited h4 .red {background:var(--color-red);margin-left:18px;}
.cited h4 div {display:inline;padding-left:15px;padding-right:15px;border-radius:3px;color:var(--color-soft);}
.cited {background: var(--color-softgrey); padding-top:23px;padding-bottom:22px;min-height:160px; }
#mapa .cited {margin-top:-21px!important;margin-bottom:1em;}

/* Footer */ 
#page-footer {background:var(--color-blue) ;color:var(--color-white) ;box-shadow: inset 0 0 56px rgba(0, 0, 0, .32);bottom: 0px;width: 100%;}
#page-footer em small a {border: thin solid #222;}
#page-footer h5 a {text-decoration:none;font-size:0.9em;font-weight: lighter ;letter-spacing: 0.05em;}

#page-footer .footer-logo  {width:380px;}
#page-footer .thumb-6 p {line-height:1.3em;font-size:0.9em;font-weight:lighter;padding-bottom:12px;}
#page-footer em a {background:transparent;}
#page-footer em a:hover, #page-footer em a:focus {color:var(-color-white);}
#footer-home img {max-width:203px;height:123px;margin-bottom:0px;}
#page-footer p {}

/* Modal expander */

#mapa a.button-modal {background-color:transparent;color:var(--color-grey) ;border:2px solid var(--color-grey);
    text-decoration:none;padding:12px;border-radius:5px;}
#mapa a.button-modal:hover {background-color:var(--color-blue);color:var(--color-white);border:2px solid var(--color-blue)}
#mapa .button-modal svg {width:15px;color:var(--color-grey);}
#mapa .button-modal svg:hover {}
#mapa iframe {margin-bottom:12px;}
div.jdialog {background-color:var(--color-black);color:var(--color-white);opacity:0.94;
    font-weight:lighter ;letter-spacing: 0.069em; }
div.jdialog p {font-size:100%;letter-spacing: 0.032em}
div.jdialog h3 {margin-bottom:0px;}
div.jdialog h6 {font-size:1.6em;line-height:1.2em;margin-top:1%;}
div.jdialog h4 {margin:0px;margin-top:10px!important;color:var(--color-red) ;border-top:thin solid var(--color-soft-black);}
div.jdialog h4 span svg {width:20px;height:38px;padding-top:24px;margin-right:2px;color:var(--color-red) }
div.jdialog p a {border:thin solid var(--color-hard-grey);padding:6px 10px 6px 10px;border-radius:4px;
    line-height:2.3em!important;text-decoration:none;color:var(--color-grey); }
div.jdialog p a:hover { background-color:var(--color-softblack);
    border-color:var(--color-grey);color:var(--color-white);padding: }
section.jdialog  {}
.button-close  {float:none!important;text-decoration:none;
    position:absolute;top:15px;right:15px;
    color:var(--color-white) !important;background-color:var(--color-black)!important;text-align:center;
    opacity:1;width:37px;height:37px;border-radius:50%;border:3px solid var(--color-black);
}
.button-close:hover, .button-close:focus {background-color:var(--color-black)!important;color:var(--color-white)!important;border-color:var(--color-white);}

/* Collapser */

.collapser, 
.jcollapser,
.ccollapser {
	position: relative;
}
.alert {
	cursor: crosshair;
}
.jtrigger {
	cursor: pointer;
}
.collapsed, 
.closed,
.ccollapsed {
	display: none;
	visibility: hidden;
}
.collapser:hover > .collapsed, 
.opened,
.ctrigger:checked ~ .ccollapsed {
  	display: block;
	visibility: visible;
}
@media (max-width: 767px) {
	.togglecollapsed {
		display: none;
	}
	.toggletrigger:checked ~ .togglecollapsed {
		display: block;
	}
}

/* Visibilty */

.closed { display: none !important; visibility: hidden; }
.opened { display: block !important; visibility: visible; }

/* Overlay */
.overlay { background: transparent;display: block;position: fixed;top: 0; left: 0;height: 100%;width: 100%;z-index: 50;}

/* Dialogs */
.dialog,
.jdialog,
.dialog-block { background: #fff;padding:2%;border-radius:32px;
	box-shadow:  0 0 20em 30em rgba(5,5,5,.9);color: inherit;display: block;
	height: auto;margin: 0;padding:12px;position: fixed;width: auto;
    z-index: 950;top: 1%;left: 1%;width: 98%;height:90%;height:91%;opacity:0.97!important;}
.dialog { display: none; }
.open-dialog:checked ~ .dialog { display: block; }
.dialog-block.fullscreen,
.dialog-block.top,
.dialog-block.bottom { width: 100% !important;}
.jdialog iframe {border-radius:23px;}

@media (max-width: 768px) {
	[class*='dialog'] {
		overflow-x: auto;
		top: 3em;
		left: 5%;
		width: 90%;
	}
}
@media (max-width: 1250px) {
    #page-header.cover {height: 100%;padding-top: 160px;}
}
@media (max-width: 1242px) {
}
@media (max-width: 768px) {
    #page-header.cover {height: 100%;padding-top: 45px!important;}
    #cover-logo, #arenas {max-width:100%;height:145px;margin-bottom:-32px;margin-top:0;}
	#page-header div em a {font-size:14px;letter-spacing:0.03em ;padding:12px 12px;width:45%;margin-bottom:6px;}
	#page-header div em a i svg {width:15px;padding:3px 0 0 0;}
    #page-header.cover h4 {font-size:2.1em;padding-left:32px;padding-right:32px;}
    #horari h4, #horari h3, #domicili h4, #domicili h3 {text-align:center!important;}
    #horari h4, #domicili h4 {font-size:1.6em ;line-height:.75em ;padding-left:6%;padding-right:6%;}
    #horari .thumb-6, #domicili .thumb-6 {width:100%;}
 	#horari i svg, #domicili i svg {background-size:150px;width:150px;height:150px;padding-left:50px;padding-right:50px;padding-top:32px;margin-bottom:12px;}
    .cover-front h2, .cover-front h3 {font-size: 15px;line-height:32px;}
    .cover-front {background-size:900px;width:900px;height:420px;padding-top: 12px;}
    #page-footer .thumb-6 {font-size: 16px;width:100%;}
    #page-footer p {font-size: 13px;}
    #footer-home img {max-width:100%;}
    #page-footer div section a {width:21%;padding:16px;}
    #page-footer div {padding:2px;}
    #mapa h3 small {font-size: 16px;letter-spacing: 0.05em;}
    #mapa h4 {font-size: 20px;line-height: 20px}
	#mapa h4 div img {height: 20px;);margin: -.15em 0 -.15em -.5em;width:20px; }
	#mapa h4 div {padding-left:12px;padding-right:12px;border-radius:2px;}


}

@media (max-width: 432px) {
    #page-header.cover {height: 100%;padding-top: 60px;}
    .cover-front h2, .cover-front h3 {font-size: 12px;line-height:23px;}
    .cover-front {background-size:750px;width:750px;height:230px;padding-top: 12px;}
}