/* by Isard Miralles  ADDING EXTRA to CARTA - CSS */

#page-header.carta-header {background-image: url("/hipertextos/brand/carta.jpg");background-color:var(--color-hardgrey);font-family:var(--font-default), sans-serif; text-transform: uppercase; border:none;
    height: 260px;padding-top:100px;background-position: center;background-attachment: fixed;background-size: cover;background-repeat: no-repeat;
    border:none;letter-spacing: .02em;overflow: hidden;text-align: center;}
#page-header.carta-header h1 {font-weight: lighter ;font-size:2.2em;color:var(--color-white);}
#page-nav div{height:90px;}
#page-nav p {font-size:15px;line-height: .6em;font-weight: lighter;color:var(--color-hard-grey); }
#page-nav a img {width:60px;height:60px;opacity:.69;}
#page-nav a:hover {background:var(--color-softgrey);}
img.icon {width:15px;margin-left:5px;margin-right:5px;}
.legends svg {width:18px;height:18px;padding:0px!important;margin:0px 8px 0px 8px!important;}
#foot-cover.cover {background-image: url("/hipertextos/brand/carta.jpg");background-color:var(--color-hardgrey);background-position: top center;background-attachment: fixed;background-size: cover;background-repeat: no-repeat;}
#foot-cover h5 svg {min-width:100%;}
#foot-cover h5 {margin-bottom:23px;}
#foot-cover h4 {font-size:2.6em;line-height:1em;margin-bottom:48px;}
h6.title {text-align:left;font-size:.75em;margin-bottom:-32px;color:var(--color-grey); }
#layout svg, #layout .icon-png img {padding:15px;margin-right: 6px}
#rollitos-cart, #pures-cart, #cremes-cart, #amanides-cart, #xips-cart, #postres-cart, #begudes-cart {text-align: left;}
#rollitos-cart h4 {
    margin-top:-10px;letter-spacing: -0.032em;height:40px;}
#rollitos-cart p, #pures-cart p, #cremes-cart p, #amanides-cart p, #xips-cart p, #postres-cart p, #begudes-cart p {margin-top:-35px;}
#layout h2 {margin-top:55px;}
#begudes-cart h5, #begudes-cart h6 {text-align: center;}
button {background-color:transparent ;background-image: url(/hipertextos/brand/hexagonblack.png);background-repeat:no-repeat  ;background-size:100px;width:100px;height:100px;border:none!important;
    color:var(--color-white);min-height:100px;font-size:30px;letter-spacing: 0.06em;font-weight: lighter; }
#menu h2, #menu h3 {margin:0;}
#menu .thumb-6 h2 {text-align:right;margin-top:12px;}
.menu-hex {background-color:transparent ;background-image: url(/hipertextos/brand/hexagonblack.png);background-repeat:no-repeat;background-size:250px;width:250px;height:250px;border:none!important;
padding-left:8px; padding-top:6px;font-size:2.5em;margin-top: 40px;}

#page-footer {margin-top:-22px;}

@media (max-width: 1250px) {
    #rollitos h4.headline {font-size:1.6em;}
    #rollitos p {font-size:18px ;}
    #page-header.carta-header {height: 280px;padding-top:130px;}
}
@media (max-width: 1242px) {
    #page-header.carta-header {height: 260px;padding-top:90px;}
    #rollitos h4.headline {font-size:1.4em;}
    #rollitos p {font-size:16px ;}
	button {background-size:90px;width:90px;height:90px;min-width:90px;
    min-height:90px;font-size:26px;letter-spacing: 0.06em;}
    .thumb-8 {width:58.3333333333%;}
    .thumb-1 {max-width:16.6666666666%;}
}
@media (max-width: 800px) {
    #page-header.carta-header { }
    #foot-cover.cover {}
    #page-header.carta-header { height: 190px;padding-top:69px;}
    .legends p {font-size: 12px;}
    #page-nav div{height:100%;}
	#page-nav a img {width:32px;height:32px;}
    #page-nav p {display:none;}
	button {background-size:80px;width:80px;height:80px;min-width:80px;
    min-height:80px;font-size:26px;letter-spacing: 0.06em;}
    #rollitos h4.headline {font-size:1.0em;}
    #rollitos-cart p, #pures-cart p, #cremes-cart p, #amanides-cart p, #postres-cart p {
        font-size:13px ;line-height:1.8em;}
    .thumb-3 {width:70%;}
    .thumb-8 {width:70%;margin-top:-30px;}
    .thumb-1 {width:20%;margin-top:-30px;}
    h6.title {display:none;visibility: hidden ;}
    #menu .thumb-6 h2 {text-align:center;margin-top:2px;}
    #menu .thumb-6, #begudes .thumb-6 {width:100%;}
    #menu .thumb-6, #begudes .thumb-6 {width:100%;}
    #foot-cover h5 svg {padding:12px;}
	#foot-cover h5 {margin-bottom:12px!important;}
	#foot-cover h4 {font-size:1.9em;line-height:1em;margin-bottom:48px;}
}
@media (max-width: 432px) {
	#page-header.carta-header { height: 150px;padding-top:45px;}
}