/* by Isard Miralles  ADDING EXTRA to About - CSS */
/* ------------------------------------------------------------ Resets */

.cover-page #page-header {
    border-bottom:8px solid var(--color-blue);}

.cover-page #page-header em a {color:var(--color-blue)!important;
    border:thin solid transparent;
    background-image:none;
    letter-spacing:0.032em ;font-weight: normal!important;
    margin:2px;background-color:transparent;
    padding:18px;border-radius:2px;min-width:100%!important;}
#page-header em a:hover {color:var(--color-white)!important;
    font-size:100%!important;
    border:thin solid var(--color-blue);}
#contacte { letter-spacing:-0.012em ;border-radius:12px;
	background-image: url("/hipertextos/brand/contacte_blur.jpg");image-rendering: crisp-edges;
	background-position: top center;background-attachment: fixed;
    background-size: cover;background-repeat: no-repeat;
    border-bottom:4px solid var(--color-blue);
}
#contacte h3 {text-align:left!important;line-height: 1.5em}
#about span svg {max-width:23%;margin:12px;}
#about {color:var(--color-blue);}
#about h4 {font-weight: lighter ;letter-spacing: 0.023em}
#about p {text-align:justify;padding-right:12px;padding-left:12px;}
#about h3.section-title {
    border-top:thin solid var(--color-softgrey);border-bottom:thin solid var(--color-softgrey);
    font-weight: lighter;padding-top:23px; padding-bottom:32px;
}
.cover-page #dark {text-align:center;z-index:10;}
.cover-page #dark a {color:var(--color-white);font-size:26px;line-height:21px;font-weight:lighter;}
.cover-page #dark a:hover {text-decoration:none;} 
#horari h3 {font-size:48px;line-height:1.5em;}
#page-footer {margin-top:-23px;}
#layout section {border:thin solid var(--color-softgrey);}

@media (max-width: 1250px) {

}
@media (max-width: 768px) {
    #dark {padding-left:20px;padding-right:20px;}
    #dark .thumb-6 {width:100%;margin:0;padding:0px;line-height:18px!important;}
    #dark h5 a {font-size: 16px!important;}
    #dark h5 {line-height: 10px!important;margin-bottom:18px;}
    #icons em a {background-size:70px;width:70px;height:70px;padding-left:21px;padding-right:21px;}
    #horari h4, #horari h3, #domicili h4, #domicili h3 {text-align:center!important;}
    #horari h4, #domicili h4 {font-size:1.9em ;line-height:.75em ;padding-left:10%;padding-right:10%;}
    #postalcode p {margin-top:16px;}
    #postalcode {display:inline;padding:0;margin:0;}
    #postalcode button {background-size:100px;width:100px;height:100px;padding-top:0;font-size:18px;margin-bottom:12px;}
}
@media (max-width: 432px) {
    #dark .thumb-6 {line-height:10px!important;}
    #dark h5 a {font-size: 15px!important;line-height: 18px!important;}
    #dark {padding-left:40px;padding-right:40px;}
    #dark h5 {line-height: 18px!important;margin-bottom:10px;}
	#horari i svg, #domicili i svg {background-color:transparent ;background-image: url(/hipertextos/brand/hexagonblack.png);background-repeat:no-repeat;background-size:80px;width:80px;height:80px;border:none!important;
	padding-left:15px;padding-right:15px;padding-top:23px;}
}