<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <meta name="encoding" charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
	<link rel="canonical" href="http://centromedicogramenet.com/nosotros"/>
	
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/screen.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding-about.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/anime.css" />    
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,300,100,900" rel="stylesheet">
	
    {% include favicons.html %}

  </head>

  <body>

	<!-- Page content -->
	<div class="page cover-page" id="page">
		{% include partials/navigation/nav.html %}
		<header id="page-header" class="cover anm-moveFromTop" style="background-image: url('{{ site.baseurl }}/hipertextos/brand/contacte.jpg');">
			<div class="anm-scaleUpDown delay-100">
				<section id="dark">
					<div id="contacte" class="thumb-8 pushed-2">
						<a class="thumb-5" href="{{ site.baseurl }}" title="Tornar a l'inici"><img src="{{ site.baseurl }}/hipertextos/brand/logo.png"></a>
						<div class="thumb-7">
							<h3>{{ page.title }}</h3>
						</div>
						<div>
							<em class="thumb"><a href="tel:{{ site.phone }}" title="Llamar"> {{ site.phone }}</a></em>
							<em class="thumb"><a href="mailto:{{ site.email }}" title="{{ site.email }}"> {{ site.email }}</a></em>
							<em class="thumb button-modal"><a href="#dialog" title="Ver el mapa"> {{ site.location }}</a></em>
						</div>
					</div>
				</section>
				<section id="follows">
        			{% include svg-icons.html %}
				</section>
			</div>
		</header>
		<main id="page-main">
			<div id="layout" class="anm-fadeIn delay-700">
				<div id="intro">
					<div id="about">
						<div class="thumb-4">
							<span class="icon-build"></span>
							<h4>{{ page.historia }}</h4>
							<p>{{ content }}</p>
						</div>
						<div class="thumb-4">
							<span class="icon-handwriting"></span>
							<h4>Servicios</h4>
							<p>{{ page.servicios }}</p>
						</div>
						<div class="thumb-4">
							<span class="icon-user"></span>
							<h4>Profesionales</h4>
							<p>{{ page.profesionales }}</p>
						</div>
						<hr>
						<div>
							<h3 class="section-title">Gracias por confiar en nosotros</h3>
						</div>
					</div>
					<hr>
					<div id="horari">
  						{% include horari.html %} 
  						<hr>
					</div>
					<hr>
				</div>
			</div>
		</main>
    	<div id="mapa">
  		{% include mapa.html %} 
		</div>
		{% include partials/footer.html %}
	</div><!-- /#page -->
	
		<!-- Out of page
		================================================== -->
		
    {% include partials/dialog.html %}  
		
    <!-- Scripts
    ================================================== -->
  	<script src="{{ site.baseurl }}/hipertextos/js/jquery.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/anime.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/icons.js"></script>
	<script>
		// Collapse & accordion
		$('.jcollapser .jcollapsed').toggleClass('closed');
		$('.jcollapser .jtrigger').click(function(e){
			$(this).next('.jcollapsed').toggleClass('closed anime anm-fadeIn').siblings('.jcollapsed:visible').toggleClass('closed anime anm-fadeIn');
		});
 		// Notification
		$('.notification .button-close').click(function(){
			$(this).closest('.notification').toggleClass('closed');
		});
		// Dialogs
		$('.button-modal, .jdialog .button-close').click(function(){
			var currentDialog = $(this).attr('href');
			$(currentDialog).toggleClass('closed anime anm-moveFromTop');
		});		
	</script>
	
    {% include analytics.html %}
  </body>
</html>
