<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <meta name="encoding" charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
	<link rel="canonical" href="http://centromedicogramanet.com/"/>
	
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/screen.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding.css" />
    {% if page.css %}<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding-carta.css" />{% endif %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/anime.css" />
  	{% if page.lightbox %}<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding-fotos.css" />{% endif %}
  	{% if page.lightbox %}<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/css/lightbox.min.css" />{% endif %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,300,100,900" rel="stylesheet">
    {% include favicons.html %}
    <style type="text/css">
		.preload {display: none;}
	</style>
	{% if page.css %}<img class="preload" src="/hipertextos/brand/carta.jpg" width="2208" height="1200">{% endif %}
  </head>

  <body>
	
	<!-- Page content -->
	<div class="page" id="page">
	{% if page.fiestas %}
    <div id="verano" class="anm-moveFromTopFade delay-200">
    	<h5><span class="icon icon-bell"></span> Cerramos por vacaciones del 10 al 25 de Agosto, ambos incluidos.</h5>
	</div>
	{% endif %}
	{% include partials/navigation/nav.html %}
      {{ content }}
      
		{% if page.foot %}
		<hr>
		<div id="foot-cover" class="cover">
			<div>
			<h5><small><i class="icon-flickr"></i></small></h5>
			<h4><small>{{ site.description }}<br>{{ site.alternativa }}</small></h4>
			<h5><small><i class="icon-flickr"></i></small></h5>
			</div>
		</div>
		{% endif %}
		{% if page.footmap %}
    	<div id="mapa">
  		{% include mapa.html %} 
		</div>
		{% endif %}
    {% include partials/footer.html %}
	</div>

		<!-- Out of page
		================================================== -->
		
    {% include partials/dialog.html %}  
		
    <!-- Scripts
    ================================================== -->
  	<script src="{{ site.baseurl }}/hipertextos/js/jquery.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/anime.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/icons.js"></script>
  	{% if page.lightbox %}<script src="{{ site.baseurl }}/hipertextos/js/lightbox.min.js"></script>{% endif %}
	<script>
		// Collapse & accordion
		$('.jcollapser .jcollapsed').toggleClass('closed');
		$('.jcollapser .jtrigger').click(function(e){
			$(this).next('.jcollapsed').toggleClass('closed anime anm-fadeIn').siblings('.jcollapsed:visible').toggleClass('closed anime anm-fadeIn');
		});
 		// Notification
		$('.notification .button-close').click(function(){
			$(this).closest('.notification').toggleClass('closed');
		});
		// Dialogs
		$('.button-modal, .jdialog .button-close').click(function(){
			var currentDialog = $(this).attr('href');
			$(currentDialog).toggleClass('closed anime anm-moveFromTop');
		});		
	</script>
	
    {% include analytics.html %}
  </body>
</html>
