<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <meta name="encoding" charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
	<link rel="canonical" href="http://centromedicogramenet.com/fotos"/>
	
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/style.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/anime.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/css/lightbox.min.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    {% include favicons.html %}


  </head>

  <body>

	<!-- Page content -->
	<div class="page" id="page">
	{% if page.fiestas %}
   		<div id="verano" class="anm-moveFromTopFade delay-600">
    		<h5 class="anm-moveFromBottomFade delay-600">Cerramos por vacaciones del 10 al 25 de Agosto, ambos incluidos.</h5>
		</div>
	{% endif %}
  	{% include partials/navigation/nav-section.html %}
  	{% include partials/header-article.html %}
  	
      {{ content }}
    {% include partials/footer.html %}
	</div>

    <!-- Scripts
    ================================================== -->
  	<script src="{{ site.baseurl }}/hipertextos/js/jquery.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/icons.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/anime.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/lightbox.min.js"></script>
    {% include analytics.html %}
  </body>
</html>
